.container {
  background-color: lightcoral;
  border: 3px solid red;
  border-radius: 23px;
  padding: 24px 40px;
  margin: 34px 20px;
  width: 233px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
